<% include scripts.ejs %>

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">China Palace</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Appetizers <span class="sr-only">(current)</span></a></li>
                <li><a href="../pages/seafood.ejs">Seafood</a></li>
                <li><a href="../pages/chicken.ejs">Chicken</a></li>
                <li><a href="../pages/pork.ejs">Pork</a></li>
                <li><a href="../pages/beef.ejs">Beef</a></li>
                <li><a href="../pages/rice.ejs">Rice</a></li>
                <li><a href="../pages/noodles.ejs">Noodles</a></li>
                <li><a href="../pages/family.ejs">Family Dinners</a></li>
                <li><a href="../pages/drinks.ejs">Drinks and Desserts</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>