<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/style.css">

<div class="nav">
    <ul class="nav nav-tabs nav-justified">
        <li><a href="/">Home</a></li>
        <li><a href="/appetizers">Appetizers</a></li>
        <li><a href="/soup">Soup</a></li>
        <li><a href="/seafood">Seafood</a></li>
        <li><a href="/chicken">Chicken</a></li>
        <li><a href="/pork">Pork</a></li>
        <li><a href="/beef">Beef</a></li>
        <li><a href="/vegetables">Vegetables</a></li>
        <li><a href="/clay">Clay Pots</a></li>
        <li><a href="/rice">Fried Rice</a></li>
        <li><a href="/chow">Chow Mein</a></li>
        <li><a href="/lunch">Lunch Specials</a></li>
        <li><a href="/combo">Combination Plates</a></li>
        <li><a href="/family">Family Dinners</a></li>
        <li><a href="/chifam">Chinese Family Dinners</a></li>
        <li><a href="/drinks">Drinks</a></li>
        <% include footer.ejs %>
    </ul>
</div>
