<body>
    <% include partials/header.ejs %>

    <h1 class="category">Appetizers</h1>
    <table>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>China Palace Combination Platter</td>
            <td></td>
            <td>9.95</td>
        </tr>
        <td><h6><em>4 Fried Prawns, 2 Crab Rangoon, 2 Egg Rolls,<br> 2 Beef Sticks, 2 Chicken Foil</em></h6></td>
        <tr>
            <td>Fried Prawns</td>
            <td>10</td>
            <td>6.25</td>
        </tr>
        <tr>
            <td>Chicken in Foil</td>
            <td>6</td>
            <td>5.25</td>
        </tr>
        <tr>
            <td>Crab Rangoon</td>
            <td>8</td>
            <td>4.95</td>
        </tr>
        <tr>
            <td>Egg Rolls</td>
            <td>4</td>
            <td>4.95</td>
        </tr>
        <tr>
            <td>Pot Stickers</td>
            <td>6</td>
            <td>5.95</td>
        </tr>
        <tr>
            <td>Fried Oysters</td>
            <td></td>
            <td>9.95</td>
        </tr>
        <tr>
            <td>Fried Garlic Chicken</td>
            <td>5</td>
            <td>6.25</td>
        </tr>
        <tr>
            <td>Fried Wonton</td>
            <td>12</td>
            <td>3.95</td>
        </tr>
        <tr>
            <td>Sliced BBQ Pork</td>
            <td></td>
            <td>6.25</td>
        </tr>
        <tr>
            <td>BBQ Beef on Sticks</td>
            <td>5</td>
            <td>5.95</td>
        </tr>
        <tr>
            <td>Chinese Chicken Salad</td>
            <td></td>
            <td>6.50</td>
        </tr>
        <tr>
            <td>Fried Green Beans</td>
            <td></td>
            <td>5.95</td>
        </tr>
        <tr>
            <td>Deep Fried Shrimp Balls</td>
            <td>6</td>
            <td>7.95</td>
        </tr>
        <tr>
            <td>Chicken Lettuce Wrap</td>
            <td>4</td>
            <td>7.95</td>
        </tr>
    </table>
</body>