<body>
<% include partials/header.ejs %>

<table>
    <h1 class="category">Beef</h1>
    <tr>
        <th>Item</th>
        <th>Price</th>
    </tr>
    <tr>
        <!--spicy picture-->
        <td>Mongolian Beef</td>
        <td>7.95</td>
    </tr>
    <tr>
        <td>Mongolian Beef</td>
        <td>7.95</td>
    </tr>
    <tr>
        <td>Ginger Beef</td>
        <td>7.95</td>
    </tr>
    <tr>
        <td>Oyster Sauce Beef</td>
        <td>7.95</td>
    </tr>
    <tr><!--spicy picture-->
        <td>Szechwan Style Beef</td>
        <td>7.95</td>
    </tr>
    <tr>
        <td>Tomato Beef</td>
        <td>7.95</td>
    </tr>
    <tr>
        <td>Green Bean Beef</td>
        <td>7.95</td>
    </tr>
    <tr>
        <td>Broccoli Beef</td>
        <td>7.95</td>
    </tr>
    <tr><!--spicy picture-->
        <td>Honey Pepper Beef</td>
        <td>7.95</td>
    </tr>
    <tr>
        <td>Honey Walnut Chicken and Beef</td>
        <td>9.50</td>
    </tr>
    <tr>
        <td>Steak Cubes with Tender Greens</td>
        <td>9.50</td>
    </tr>
    <tr>
        <td>Beef with Mixed Vegetables</td>
        <td>7.95</td>
    </tr>
    <tr><!--spicy picture-->
        <td>Curry Beef</td>
        <td>7.95</td>
    </tr>
    <tr>
        <td>Beef in Satay Sauce</td>
        <td>9.50</td>
    </tr>
</table>
</body>
