<body>
<% include partials/header.ejs %>

<table>
    <h1 class="category">Chicken</h1>
   <tr>
        <th>Item</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>Sweet and Sour Chicken</td>
        <td>7.95</td>
    </tr>
    <tr>
        <td>Lemon Chicken</td>
        <td>7.95</td>
    </tr>
    <tr>
        <td>Orange Chicken</td>
        <td>7.95</td>
    </tr>
    <tr>
        <td>Kung Pao Chicken</td>
        <td>7.95</td>
    </tr>
    <tr>
        <td>Cashew Chicken</td>
        <td>7.95</td>
    </tr>

    <tr>
        <td>Broccoli Chicken</td>
        <td>7.50</td>
    </tr>
    <tr>
        <td>General Tso's Chicken</td>
        <td>7.50</td>
    </tr>
    <tr>
        <td>Sesame Chicken</td>
        <td>7.50</td>
    </tr>
    <tr>
        <td>Almond Chicken</td>
        <td>7.50</td>
    </tr>
    <tr>
        <td>Mongolian Chicken</td>
        <td>7.95</td>
    </tr>
    <tr>
        <td>Chicken with Mixed Vegetables</td>
        <td>7.95</td>
    </tr>
    <tr>
        <td>Chicken with Green Beans</td>
        <td>7.95</td>
    </tr>
    <tr>
        <td>Chicken with Snow Peas</td>
        <td>7.95</td>
    </tr>
    <tr>
        <td>Chicken in Black Bean Sauce</td>
        <td>7.95</td>
    </tr>
    <tr>
        <td>Honey Walnut Chicken and Beef</td>
        <td>9.25</td>
    </tr>
    <tr>
        <td>Roasted Baby Chicken</td>
        <td>10.95</td>
    </tr>
    <tr>
        <td>Crispy Skin Chicken (Half)</td>
        <td>7.95</td>
    </tr>
    <tr>
        <td>Crispy Skin Chicken (Whole)</td>
        <td>14.50</td>
    </tr>
    <tr>
        <td>Steamed Chicken with Ginger and <br>Scallions</td>
        <td>14.50</td>
    </tr>
    <tr>
        <td>Steamed Brown Chicken</td>
        <td>16.95</td>
    </tr>
    <tr>
        <td>Roasted Duck</td>
        <td>22.95</td>
    </tr>
    <tr>
        <td>Peking Duck</td>
        <td>24.95</td>
    </tr>
    <tr>
        <td>Peking Duck in 3 Tastes</td>
        <td>38.99</td>
    <tr> <td><h6><em>1) Roasted Duck Skin with Bun, <br>
    2) Duck Soup with Mustard Greens, <br>
    3) Shredded Duck with Clear Noodles</em></h6></td>
    </tr>
    <tr>
        <td>Crispy Quails</td>
        <td>9.00</td>
    </tr>
</table>
</body>