<body>
<% include partials/header.ejs %>

<table>
    <h1 class="category">Chinese Family Dinner<br>
    (Limited to 3 Tables Only)</h1>
    <tr>
        <td><center>$26</center></td>
    </tr>
    <tr>
        <td><h6><em><center>Soup of the Day<br>Braised Bean Cake<br>Peking Spareribs<br>
                    Honey Walnut Prawns</center></em></h6></td>
    </tr>
    <tr>
        <td><center>$38</center></td>
    </tr>
    <tr>
        <td><h6><em><center>Soup of the Day<br>Roasted Baby Chicken<br>Sauteed Fish Cake<br>
                        Pepper Salted Prawns<br>BBQ Style Pork Neck</center></em></h6></td>
    </tr>
    <tr>
        <td><center>$68</center></td>
    </tr>
    <tr>
        <td><h6><em><center>Soup of the Day<br>Clams in Black Bean Sauce<br>Deep Fried Whole Sole<br>
                        Mushrooms with Tender Greens<br>Crispy Skin Chicken<br>
                    Fried Garlic Spareribs<br>Ginger Scallion Crab</center></em></h6></td>
    </tr>
    <tr>
        <td><center>$128</center></td>
    </tr>
    <tr>
        <td><h6><em><center>Soup of the Day<br>Deep Fried Whole Sole<br>Steak Cubes with Tender Greens<br>
                        Seafood Bean Cake Clay Pot<br>Ginger Scallion Lobster<br>
                    Tender Greens in Garlic Sauce<br>Steamed Chicken with Ginger and Scallions<br>
                    Honey Walnut Prawns<br>Pepper Salted Spareribs</center></em></h6></td>
    </tr>
    <tr>
        <td><center>$168</center></td>
    </tr>
    <tr>
        <td><h6><em><center>Crab Meat Maw Soup<br>Two Kinds Spareribs<br>Ginger Scallion Crab<br>
                        Peking Duck<br>Crispy Skin Chicken<br>XO Sauce Shrimp and Cuttlefish<br>
                    Mushrooms with Tender Greens<br>Live Fish</center></em></h6></td>
    </tr>
    <tr>
        <td><center>$218</center></td>
    </tr>
    <tr>
        <td><h6><em><center>Abalone Chicken Soup<br>Sauteed Red Lobster<br>
                        Deboned Fillet Sole with Roasted Garlic<br>
                        Peking Duck<br>Sauteed White Scallops<br>Fried Quails<br>
                        Fillet Sole in Tender Greens<br>Abalone Sea Cucumber Tender Greens</center></em></h6></td>
    </tr>
</table>
</body>