<body>
<% include partials/header.ejs %>

<table>
    <h1 class="category">Chow Mein</h1>
    <td>(Hong Kong Style Chow Mein Add: $1.50)</td>
    <tr>
        <th>Item</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>Asia Palace</td>
        <td>6.95</td>
    </tr>
    <tr>
        <td>BBQ Pork</td>
        <td>5.95</td>
    </tr>
    <tr>
        <td>Chicken</td>
        <td>5.95</td>
    </tr>
    <tr>
        <td>Beef</td>
        <td>5.95</td>
    </tr>
    <tr>
        <td>Shrimp</td>
        <td>6.95</td>
    </tr>
    <tr>
        <td>Vegetable</td>
        <td>5.95</td>
    </tr>
    <tr>
        <td>Tomato Beef</td>
        <td>6.95</td>
    </tr>
    <tr>
        <td>Seafood</td>
        <td>7.95</td>
    </tr>
    <tr>
        <td>Soy Sauce Style</td>
        <td>6.95</td>
    </tr>
    <td class="fun"><h3>Chow Fun</h3></td>
    <tr>
        <td>Asia Palace</td>
        <td>7.95</td>
    </tr>
    <tr>
        <td>BBQ Pork</td>
        <td>6.95</td>
    </tr>
    <tr>
        <td>Chicken</td>
        <td>6.95</td>
    </tr>
    <tr>
        <td>Beef</td>
        <td>6.95</td>
    </tr>
    <tr>
        <td>Seafood</td>
        <td>9.95</td>
    </tr>
    <tr>
        <td>Shredded Pork Rice Noodles</td>
        <td>7.95</td>
    </tr>
    <tr>
        <td>Asia Palace Rice Noodles</td>
        <td>7.95</td>
    </tr>
    <tr>
        <!--spicy Picture-->
        <td>Singapore Style Rice Noodles</td>
        <td>7.95</td>
    </tr>
    <tr>
        <td>Asia Palace Yee Mein</td>
        <td>9.95</td>
    </tr>
    <tr>
        <td>Crab Yee Mein</td>
        <td>9.95</td>
    </tr>
</table>
</body>