<body>
<% include partials/header.ejs %>

<table>
    <h1 class="category">All Combination Plates will be $9.95 after 3pm</h1>
    <tr>
        <th>Combination #1</th>
        <td>6.25</td>
    </tr>
    <tr>
        <td><h6><em>Fried Chicken, Chicken Chow Mein, Pork Fried Rice</em></h6></td>
    </tr>
    <tr>
        <th>Combination #2</th>
        <td>6.25</td>
    </tr>
    <tr>
        <td><h6><em>Chicken in Foil, Broccoli Chicken, Pork Fried Rice</em></h6></td>
    </tr>
    <tr>
        <th>Combination #3</th>
        <td>6.25</td>
    </tr>
    <tr>
        <td><h6><em>Fried Prawns, Sweet and Sour Pork, Chicken Chow Mein</em></h6></td>
    </tr>
    <tr>
        <th>Combination #4</th>
        <td>6.25</td>
    </tr>
    <tr>
        <td><h6><em>Fried Chicken, Sweet and Sour Pork, Pork Fried Rice</em></h6></td>
    </tr>
    <tr>
        <th>Combination #5</th>
        <td>6.25</td>
    </tr>
    <tr>
        <td><h6><em>BBQ Beef Stick, Broccoli Chicken, Chicken Chow Mein</em></h6></td>
    </tr>
    <tr>
        <th>Combination #6</th>
        <td>6.25</td>
    </tr>
    <tr>
        <td><h6><em>Sweet and Sour Pork, Chicken Chow Mein, Pork Fried Rice</em></h6></td>
    </tr>
</table>
</body>