<body>
<% include partials/header.ejs %>

<table>
    <tr>
        <th><center>Beer</center></th>
    </tr>
    <tr>
        <td><h6><em><center>Imported - $4.25<br>Tsingtao<br>Heinken<br>Corona<br>Sapporo<br><br>Domestic - $3.75<br>Budweiser<br>Bud Light<br>Coors<br>Coors Light</center></em></h6></td>
    </tr>
    <tr>
        <th><center>Soda</center></th>
    </tr>
    <tr>
        <td><h6><em><center>$1.50<br>Coke<br>Diet Coke<br>Sprite<br>Root Beer<br>Hi-C Lemonade<br>
                        Raspberry Ice Tea<br>Orange Fanta<br>Pibb Extra</center></em></h6></td>
    <tr>
        <th><center>Juice</center></th>
    </tr>
    <tr>
        <td><h6><em><center>$2.00<br>Orange Juice<br>Apple Juice</center></em></h6></td>
    <tr>
        <th><center>Winery</center></th>
    </tr>
    <tr>
        <td><h6><em><center>House Wine By Canyon Road<br>$4.25 per Glass<br>
                        $16.00 per Bottle<br><br>Chardonnay<br>Merlot<br>Cabernet<br>
                        White Zin<br><br>Mirassou Sun "Chardonnay" -- $22.00 per Bottle<br>
                        <br>Mirassou Sun "Merlot" -- $22.00 per Bottle<br>
                        <br>Mirassou Sun "Cabernet" -- $22.00 per Bottle<br><br>
                        (For more Wine Lists, Please ask Server)<br><br><br>
                        Remy 750 ml - $88.00 | Snifter - $7.00<br><br>
                        Courvoisier VSOP 750 ml - $88.00 | Snifter - $7.00<br><br>
                        Hennessy VSOP 750 ml - $88.00 | Snifter - $7.00<br><br>
                        Crown Royal - $208.00 | Snifter - $13.00
                        </center></em></h6></td>
    </tr>
</table>
</body>