<body>
<% include partials/header.ejs %>

<table>
    <h1 class="category">Served from 11:00 AM until Closed<br>
    (Minimum of 2 or more persons)</h1>
    <tr>
        <th>Guang Dong</th>
        <td>$8.95 Per Person</td>
    </tr>
    <tr>
        <td><h6><em><center>Egg Flower Soup<br>Egg Rolls<br>Pork Fried Rice<br>Chicken Chow Mein<br>
                Sweet & Sour Pork<br>-For 3-<br>Chicken Broccoli<br>
                -For 4-<br>Beef with Mixed Vegetables<br>-For 5-<br>
                Orange Chicken</center></em></h6></td>
    </tr>
    <tr>
        <th>Shang Hai</th>
        <td>$9.95 Per Person</td>
    </tr>
    <tr>
        <td><h6><em><center>Egg Flower Soup<br>Egg Rolls<br>Chicken Chow Mein<br>Sweet & Sour Pork<br>
                        Beef with Broccoli<br>-For 3-<br>Fried Garlic Chicken<br>
                        -For 4-<br>Cashew Nut Chicken<br>-For 5-<br>
                        Prawns in Garlic Sauce</center></em></h6></td>
    </tr>
    <tr>
        <th>Si Chuan</th>
        <td>$10.95 Per Person</td>
    </tr>
    <!--Make spicy picture for mongolian beef, kung pow chicken and General Tsao's Chicken-->
    <tr>
        <td><h6><em><center>Hot and Sour Soup<br>Crab Rangoon<br>Asia Palace Fried Rice<br>Mongolian Beef<br>
                        Orange Chicken<br>-For 3-<br>Kung Pao Chicken<br>
                        -For 4-<br>Beef with Green Beans<br>-For 5-<br>
                        Geneal Tso's Chicken<br>-For 6-<br>Cashew Nut Prawns</center></em></h6></td>
    </tr>
    <tr>
        <th>Asia Palace</th>
        <td>$12.95 Per Person</td>
    </tr>
    <tr>
        <td><h6><em><center>Wonton Soup<br>Fried Prawns<br>Asia Palace Chow Mein<br>Beef with Mixed Vegetables<br>
                        Honey Walnut Prawns<br>-For 3-<br>Chicken Snow Peas<br>
                        -For 4-<br>Orange Chicken<br>-For 5-<br>
                        Happy Family Delight<br>-For 6-<br>Sweet and Sour Prawns</center></em></h6></td>
    </tr>
</table>
</body>