<!DOCTYPE html>
<html>
  <head>
    <% include partials/header.ejs %>
    <title>China Palace</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include pages/beef.ejs %>

<% include partials/footer.ejs %>
  </body>
</html>
