<body>
<% include partials/header.ejs %>

<table>
    <h1 class="category">Lunch Specials<br>(Served Until 3 pm)</h1>
     <caption>All Served With Steamed Rice. <br>For Pork Fried Rice, add .50</caption>
       <th>Item</th>
       <th>Price</th>
    <tr>
        <td>Asia Palace Vegetables</td>
        <td>5.75</td>
    </tr>
    <tr>
        <td>Almond Chicken</td>
        <td>5.75</td>
    </tr>
    <tr>
        <!--spicy picture-->
        <td>Kung Pao Chicken</td>
        <td>5.75</td>
    </tr>
    <tr>
        <td>Chicken with Cashews</td>
        <td>5.75</td>
    </tr>
    <tr>
        <td>Chicken with Green Beans</td>
        <td>5.75</td>
    </tr>
    <tr>
        <td>Lemon Chicken</td>
        <td>5.75</td>
    </tr>
    <tr>
        <td>Mongolian Chicken</td>
        <td>5.75</td>
    </tr>
    <tr>
        <td>Chicken Broccoli</td>
        <td>5.75</td>
    </tr>
    <tr>
        <td>Curry Chicken</td>
        <td>5.75</td>
    </tr>
    <tr>
        <td>House Chicken</td>
        <td>5.75</td>
    </tr>
    <tr>
        <td>Chicken With Black Bean Sauce</td>
        <td>5.75</td>
    </tr>
    <tr>
        <td>Sweet and Sour Chicken</td>
        <td>5.75</td>
    </tr>
    <tr>
        <td>Ginger Beef</td>
        <td>5.75</td>
    </tr>
    <tr>
        <td>Snow Peas with Beef</td>
        <td>5.75</td>
    </tr>
    <tr>
        <td>Mongolian Beef</td>
        <td>5.75</td>
    </tr>
    <tr>
        <td>Beef with Cashews</td>
        <td>5.75</td>
    </tr>
    <tr>
        <td>Beef with Green Beans</td>
        <td>5.75</td>
    </tr>
    <tr>
        <td>Sweet and Sour Pork</td>
        <td>5.75</td>
    </tr>
    <tr>
        <td>Prawns in Garlic Sauce</td>
        <td>6.25</td>
    </tr>
    <tr>
        <td>Prawns with Black Bean Sauce</td>
        <td>6.50</td>
    </tr>
    <tr>
        <td>Kung Pao Prawns</td>
        <td>6.50</td>
    </tr>
    <tr>
        <td>Honey Walnut Prawns</td>
        <td>6.50</td>
    </tr>
    <tr>
        <td>Happy Family Delight</td>
        <td>6.50</td>
    <tr>
        <td>Three Seafood Delicacies</td>
        <td>6.50</td>
    </tr>
</table>
</body>