<body>
<% include partials/header.ejs %>

<table>
    <h1 class="category">Pork</h1>
    <tr>
        <th>Item</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>Mu Shu Pork</td>
        <td>7.50</td>
    </tr>
    <tr>
        <td>Sweet and Sour Pork</td>
        <td>7.50</td>
    </tr>
    <tr>
        <!--spicy picture-->
        <td>Pepper Salted Spareribs</td>
        <td>9.95</td>
    </tr>
    <tr>
        <td>Peking Spareribs</td>
        <td>9.95</td>
    </tr>
    <tr>
        <td>Fried Garlic Spareribs</td>
        <td>8.95</td>
    </tr>
    <tr>
        <td>Cherry Pork</td>
        <td>7.50</td>
    </tr>
    <tr>
        <td>BBQ Style Pork Neck</td>
        <td>7.95</td>
    </tr>
</table>
</body>