<body>
<% include partials/header.ejs %>

<table>
    <h1 class="category">Fried Rice</h1>
    <tr>
        <th>Item</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>Asia Palace</td>
        <td>6.95</td>
    </tr>
    <tr>
        <td>BBQ Pork</td>
        <td>5.95</td>
    </tr>
    <tr>
        <td>Chicken</td>
        <td>5.95</td>
    </tr>
    <tr>
        <td>Beef</td>
        <td>5.95</td>
    </tr>
    <tr>
        <td>Shrimp</td>
        <td>6.95</td>
    </tr>
    <tr>
        <td>Vegetable</td>
        <td>5.50</td>
    </tr>
    <tr>
        <td>Seafood</td>
        <td>7.95</td>
    </tr>
    <tr>
        <td>Seafood Garlic</td>
        <td>11.95</td>
    </tr>
    <tr>
        <td>Chicken Salted Fish</td>
        <td>10.95</td>
    </tr>
    <tr>
        <td>Dried Scallop</td>
        <td>12.95</td>
    </tr>
    <tr>
        <td>Steamed Rice (Per Person)</td>
        <td>1.20</td>
    </tr>
    <tr>
        <td>Fu Keng</td>
        <td>9.95</td>
    </tr>
</table>
</body>