<body>
<% include partials/header.ejs %>

<table>
    <h1 class="category">Seafood</h1>
    <tr>
        <th>Item</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>Prawns in Garlic Sauce</td>
        <td>9.50</td>
    </tr>
    <tr>
        <!--spicy picture-->
        <td>Kung Pao Prawns</td>
        <td>9.50</td>
    </tr>
    <tr>
        <!--spicy picture-->
        <td>XO Sauce Cuttle Fish</td>
        <td>9.50</td>
    </tr>
    <tr>
        <td>Prawns in Mixed Vegetables</td>
        <td>9.50</td>
    </tr>
    <tr>        <!--spicy picture-->
        <td>Pepper Salted Prawns</td>
        <td>9.95</td>
    </tr>
    <tr>
        <td>Prawns in Lobster Sauce</td>
        <td>9.50</td>
    </tr>
    <tr>
        <td>Sauteed White Scallops</td>
        <td>10.95</td>
    </tr>
    <tr><!--spicy picture-->
        <td>XO Sauce White Scallops</td>
        <td>11.95</td>
    </tr>
    <tr><!--spicy picture-->
        <td>Honey Pepper Scallops and Prawns</td>
        <td>11.95</td>
    </tr>
    <tr><!--spicy picture-->
        <td>Pepper Salted Squid</td>
        <td>9.50</td>
    </tr>
    <tr>
        <td>Sauteed Fish Cake</td>
        <td>9.50</td>
    </tr>
    <tr>
        <td>Fillet Sole in Black Bean Sauce</td>
        <td>9.95</td>
    </tr>
    <tr>
        <td>Fillet Sole in Tender Greens</td>
        <td>9.95</td>
    </tr>
    <tr>
        <td>Happy Family Delight</td>
        <td>10.95</td>
    </tr>
    <tr>
        <td>Sauteed Fillet Sole</td>
        <td>9.95</td>
    </tr>
    <tr>
        <td>Deep Fried Whole Sole</td>
        <td>14.50</td>
    </tr>
    <tr><!--spicy picture-->
        <td>Deboned Fillet Sole with Roasted Garlic</td>
        <td>18.00</td>
    </tr>
    <tr>
        <td>Honey Walnut Prawns</td>
        <td>10.95</td>
    <tr>
        <td>Abalone Mushroom in Tender Greens</td>
        <td>14.95</td>
    </tr>
    <tr>
        <td>Ginger Scallion Oyster</td>
        <td>9.95</td>
    </tr>
</table>
</body>