<body>
<% include partials/header.ejs %>

<table>
    <h1 class="category">Soup</h1>
    <tr>
        <th>Item</th>
        <th>Small</th>
        <th>Medium</th>
        <th>Large</th>
    </tr>
    <tr>
        <td>Egg Flower</td>
        <td>5.95</td>
        <td>8.95</td>
        <td>12.95</td>
    </tr>
    <tr>
        <td>West Lake Beef</td>
        <td>6.95</td>
        <td>9.95</td>
        <td>13.95</td>
    </tr>
    <tr>
        <td>Creamy Chicken Corn </td>
        <td>6.95</td>
        <td>9.95</td>
        <td>13.95</td>
    </tr>
    <tr>
        <td>Sizzling Rice</td>
        <td>6.95</td>
        <td>9.95</td>
        <td>13.95</td>
    </tr>
    <tr>
        <td>Combination Wonton</td>
        <td>6.75</td>
        <td>9.75</td>
        <td>13.75</td>
    </tr>
    <tr>
        <td>Seaweed Tofu</td>
        <td>6.50</td>
        <td>9.50</td>
        <td>13.50</td>
    </tr>
    <tr>
        <td>Seafood Tofu</td>
        <td>8.50</td>
        <td>11.50</td>
        <td>14.50</td>
    </tr>
    <tr>
        <td>Creamy Corn with Crab</td>
        <td>6.95</td>
        <td>9.95</td>
        <td>13.95</td>
    </tr>
    <tr>
        <td>Shredded Chicken with <br> Dried Scallops</td>
        <td>10.95</td>
        <td>13.95</td>
        <td>16.95</td>
    </tr>
    <tr>
        <td>Salted Egg and Pork with <br> Mustard Greens</td>
        <td>7.95</td>
        <td>10.95</td>
        <td>13.95</td>
    </tr>
    <tr>
        <td>Crab Meat and Fish Maw</td>
        <td>9.50</td>
        <td>13.95</td>
        <td>17.95</td>
    </tr>
    <tr>
        <!--spicy picture-->
        <td>Hot and Sour</td>
        <td>6.25</td>
        <td>9.25</td>
        <td>12.25</td>
    </tr>
</table>
</body>
