<body>
<% include partials/header.ejs %>

<table>
    <h1 class="category">Vegetables</h1>
    <tr>
        <th>Item</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>Egg Foo Young</td>
        <td>6.50</td>
    </tr>
    <tr>
        <td>Bok Choy in Garlic Sauce</td>
        <td>6.75</td>
    </tr>
    <tr>
        <td>Chinese Broccoli in Oyster Sauce</td>
        <td>7.50</td>
    </tr>
    <tr>
        <td>Family Style Bean Cake</td>
        <td>6.95</td>
    </tr>
    <tr>
        <!--spicy picture-->
        <td>Braised Bean Cake</td>
        <td>6.95</td>
    </tr>
    <tr>
        <td>Mushroom with Tender Greens</td>
        <td>7.95</td>
    </tr>
    <tr><!--spicy picture-->
        <td>Ma Poo Tofu</td>
        <td>6.25</td>
    </tr>
</table>
</body>